---
import MainLayout from '../../layouts/MainLayout.astro'
import ScrollProgress from '../../components/ScrollProgress.astro'

import { PortableText } from "astro-portabletext";
import InsightsPortable from "../../components/insights/InsightsPortable.astro"
import InsightsTitle from '../../components/insights/InsightsTitle.astro'
import InsightsBody from '../../components/insights/InsightsBody.astro'

import { getAllInsights } from '../../sanity/api'
import urlForImage from '../../sanity/imageBuilder';

export async function getStaticPaths() {
    const insights = await getAllInsights()
    return insights.map(insights => ({ params: { slug: insights.slug.current }, props: { insights } }))
};

const { insights } = Astro.props

const components = {
    type: {
        image: InsightsPortable
    },
    block: {
        h3: InsightsTitle,
        normal: InsightsBody
    }
}

---

<MainLayout title={"IKAMO[LOG] | " + insights.title}>
    <main data-taxi-view class="insights-view">

        <ScrollProgress />

        <div class="insight-container flex gap-100 no-wrap" id="scroll">

            <img src={urlForImage(insights.heroImage).url()} alt="" class="insight-image">

            <div class="insight-title-container flex flex-column justify-between">
                <div class="insight-title-container flex flex-column gap-48">
                    <div class="index-container align-center flex gap-16">
                        <h2 class="insight-bracket subtitle-light text-light">[</h2>
                        <h2 class="index text-light">0 {insights.index}</h2>
                        <h2 class="insight-bracket subtitle-light text-light">]</h2>
                    </div>
                    <h1 class="insights-title title text-light">{insights.title}</h1>
                </div>

                <div class="insights-details flex gap-48">
                    <div class="flex flex-column gap-4">
                        <h3 class="caption-light text-light">[TYPE]</h3>
                        <h3 class="caption-bold text-light">{insights.contentype}</h3>
                    </div>
                    <div class="flex flex-column gap-4">
                        <h3 class="caption-light text-light">[DATE]</h3>
                        <h3 class="caption-bold text-light">{insights.postDate}</h3>
                    </div>
                </div>
            </div>

            <div class="content-container flex gap-100">
                <PortableText
                    value={insights.body}
                    components={components}
                />
            </div>

            <!-- <a href={`/insights/` + insights.nextvLog.slug.current} class="insights-next-link flex justify-between">
                <div class="insights-next-title flex gap-16">
                    <h1 class="next-arrow title text-light">→</h1>
                    <h1 class="title text-light">{insights.nextvLog.title}</h1>
                </div>
                <img src={urlForImage(insights.nextvLog.heroImage).url()} alt="" class="insights-next-image">
            </a> -->

        </div>
    </main>
</MainLayout>